.bc-dark-blue{
    background-color: #0D253B;
}

.bc-blue{
    background-color: #1D72E8;
}

.bc-royalBue{
    background-color: #175CBB;
}

.white{
    color:white
}

.header{
    max-height: 100px; 
     

}

.columnLeft{
  height: calc(100vh - 100px);
  background-image: url(../img/sidebar-bg.png);
  
  
}

.img-icon{
    width: 20px;
}
.img-stats{
    width: 100%;
    
}