.containerBody{
    height: 100vh;
    width: 100%;

}

header{
    height: 5rem;
    width: 100%;
   
}

nav, main{
    height: calc(100vh - 5rem);
}

nav{
    width: 8rem
}

main{
    width: calc(100% - 8rem);
    overflow-y: auto;
}

.img-icon{
    width: 20px;
}
.img-stats{
    width: 100%;
    
}

/********Color******/

.bc-dark-blue{
    background-color: #0D253B;
}

.bc-blue{
    background-color: #1D72E8;
}

.bc-royalBue{
    background-color: #175CBB;
}


.white{
    color:white
}

/******Media query******/

@media only screen and (max-width:720px) {
    .wsm100{
        min-width: 100%;
    }
    
    .d-s-none{
        display: none;
    }

    
}